@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model IEnumerable<MercuryHealth.Web.Models.NutritionViewModel>

@{
    ViewData["Title"] = "Nutrition";
}

<h1>Nutrition</h1>

<p>
    <a asp-action="Create" style="font-size:@ViewData["Website_FontSize"]px;">Create New</a>
</p>

<table class="table" style="font-style:@ViewData["Website_FontName"];font-size:@ViewData["Website_FontSize"]px;color:@ViewData["Website_FontColor"]">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProteinInGrams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatInGrams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarbohydratesInGrams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SodiumInGrams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="font-style:@ViewData["Website_FontName"];font-size:@ViewData["Website_FontSize"]px;color:@ViewData["Website_FontColor"]">
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.MealTime)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.ProteinInGrams)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.FatInGrams)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.CarbohydratesInGrams)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.SodiumInGrams)
            </td>
            <td style="color:@item.FontColor">
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a asp-action="Edit" id="button_edit_@item.Id" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" id="button_details_@item.Id" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" id="button_delete_@item.Id" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
