@model MercuryHealth.Web.Models.Exercises

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercises</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusclesInvolved)
        </dt>
        <dd class = "col-sm-10" id="@Html.DisplayNameFor(model => model.MusclesInvolved)">
            @Html.DisplayFor(model => model.MusclesInvolved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" id="button_edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" id="button_back">Back to List</a>
</div>
